@model Blog

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>IT Blogs</title>
</head>
<body class="h-full bg-zinc-950">
<div class="min-h-full">
    <nav class="bg-zinc-950 mt-1">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 border border-white/10 rounded-full">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="shrink-0">
                        <h1 class="text-white font-medium px-3 py-2 bg-purple-900/40 rounded-full "> 🖳 IT Blogs</h1>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="{{ route('books.index') }}" class="text-purple-700 rounded-md font-bold hover:text-purple-500">Blogs</a>
                            <a href="{{ route('reviews.index') }}" class="text-purple-700 rounded-md font-bold hover:text-purple-500">About</a>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <!--                        <p class="text-white mr-4">Profile</p>-->
                        <!--                        <form action="{{ route('logout') }}" method="POST">-->
                        <!--                            <button type="submit" class="text-white bg-red-950/60 rounded-md px-3 py-2 text-sm font-medium hover:bg-red-900">Logout</button>-->
                        <!--                        </form>-->
                        <a href="{{ route('login') }}" class="text-white bg-purple-900/40 rounded-md px-3 py-2 text-sm font-medium hover:bg-purple-500">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div x-data="{ show: false }" x-init="setTimeout(() => show = true, 300)">
        <div x-cloak
             x-show="show"
             x-transition:enter="transition ease-out duration-1000"
             x-transition:enter-start="opacity-0 scale-90"
             x-transition:enter-end="opacity-100 scale-100">

            <header class="relative bg-zinc-950 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0">
                <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold tracking-tight text-white">@Model.Title</h1>
                </div>
            </header>

            <main>
                <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                    <div class="bg-neutral-800/30 p-8 rounded-md  gap-4 mb-4 shadow-lg shadow-black/50">
                        <a asp-controller="Blog" asp-action="Index" class="text-white/60 text-sm  hover:text-white/80">← Back</a>
                        <h3 class="text-purple-700 px-2 mt-2 font-bold border border-purple-700 rounded-full w-fit bg-purple-800/20 text-sm">@Model.Category</h3>
                        <h3 class="text-white text-sm mt-2">@Html.Raw(Model.Description)</h3>
                        <h3 class="mt-1 text-white text-sm">Created at: @Model.CreatedAt</h3>
                        <div class="mt-1">
                            <p class="text-purple-700 font-bold text-sm">By: @Model.Author.Name
                            </p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
